<%- include('./partials/head') %>

    <form action="/add" method="post">
        <input type="text" placeholder="Title" name="myTitle">
        <input type="url" name="url" placeholder="Url Picture">
        <input type="text" name="author" placeholder="Author">
        <input type="url" name="author_bild" placeholder="Author Picture">
        <textarea name="body" cols="30" rows="10" placeholder="Write your article here....."></textarea>
        <input type="submit" value="Send article">
    </form>

    <%- include('./partials/footer') %>