<%- include('./partials/head') %>
    <h1>Add New Article</h1>
    <form action="/add" method="post">
        <input type="text" placeholder="Title" name="myTitle" required>
        <input type="text" name="url" placeholder="Url Picture" required>
        <input type="text" name="author" placeholder="Author" required>
        <input type="url" name="author_bild" placeholder="Author Picture" required>
        <textarea name="body" cols="30" rows="10" placeholder="Write your article here....." required></textarea>
        <input type="submit" value="Send article">
    </form>
    <%- include('./partials/read') %>

        <%- include('./partials/footer') %>